.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  color: #fff;
  .sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  .sidebarFriendName{
    font-size: 0.8rem;
  }
  .chatOnline{
    width: 12px;
    height: 12px;
    background: lawngreen;
    border-radius: 50%;
    position: relative;
    top: 12px;
    left: -45px;
    z-index: 3;
  }
}
