.courseSide {
    margin: 1rem;
    max-height: 35rem;
    width: 20%;
    border: 2px solid #ffba03;
    background: #fff;
    border-radius: 6px;
    img {
        width: 100%;
        max-width: 25rem;
        height: 10rem;
        clip-path: polygon( 0% 15%, 0 0, 15% 0%, 100% 0%, 100% 16%, 100% 15%, 100% 85%, 84% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    }
    .content {
        .price {
            background: #fff;
            width: 80%;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-family: "Bebas Neue", cursive;
            border-radius: 12px;
        }
        button {
            width: 80%;
            height: 3rem;
            font-size: 1.5rem;
            font-family: "Bebas Neue", cursive;
            margin-bottom: 1rem;
            border-radius: 2px;
            background: #333;
            color: #fff;
            &:hover {
                background: #fff;
                color: #333;
                border: 3px solid #333;
            }
        }
        .sideDetails {
            h6 {
                font-weight: 600;
                margin-bottom: 0.5rem;
            }
            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                li {
                    display: flex;
                    align-items: center;
                    .iconSide {
                        font-size: 1rem;
                        margin-inline-end: 0.5rem;
                    }
                    padding: 0.2rem;
                    font-size: 0.96rem;
                }
            }
        }
    }
}