.course {
  width: 100%;
  .filterCourse {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;

    .sliderValue {
      margin-inline-start: 2rem;
      font-size: 1.1rem;
      font-weight: 600;
      color: #333;
       span {
        color: $primeColor;
      }
    }
  }
  .courseList {
    display: flex;
    flex-wrap: wrap;
    .courseSearch {
      margin: 1rem;
    }
  }
}
