.post {
  width: 95%;
  align-self: end;
  .postWrapper {
    .postTop {
      display: flex;
      justify-content: space-between;
      .postTopLeft {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .postProfileImg {
          width: 2.2rem;
          height: 2.2rem;
          border-radius: 50%;
        }
        .postUsername {
          padding-inline-start: 0.5rem;
          font-weight: 600;
        }
      }
      .postTopRight {
        display: flex;
        align-items: center;
        .postSubject {
          margin-inline-end: 1rem;
          font-size: 0.85rem;
          border-bottom: 3px solid #ffcd4c;
        }
      }
    }
    .postCenter {
      display: flex;
      flex-direction: column;
      .postText{
        padding: 12px 0 8px 0;
        line-height: 1.4rem;
      }
      img {
        padding: 0.5rem 0;
        width: 100%;
        height: 15rem;
        border-radius: 12px;
      }
    }
    .postBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .postBottomLeft {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
        font-weight: 600;
        .PostBottomIcons{
          cursor: pointer;
        }
        img {
          width: 1.4rem;
          height: 1.4rem;
          margin-inline-end: 2px;
        }
      }
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }
  }
}
