.productPreview {
  // border-bottom: 1px solid #333;
  // border-radius: 12px;
  padding: 6px;
  margin-bottom: 8px;
  .productTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 12rem;
      height: 6rem;

      border-radius: 3px;
      border-top-left-radius: 22px;
      border-bottom-right-radius: 22px;
      margin: 8px 0;
    }
  }
  .productBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    .productBuy {
      border: $primeColor 1px solid;
      border-radius: 4px;
      font-weight: 500;
      background-color: #fff;
      font-size: 0.9rem;
      padding: 0.25rem;
      &:hover {
        background-color: $primeColor;
        color: #fff;
      }
    }
  }
}
