.app {
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
}

.container {
  position: relative;
  top: 7vh;
  display: flex;
  min-height: 93vh;
  overflow-y: hidden;
}

.home-container {
  display: flex;
  width: 100%;
  overflow-y: none;
  .sidebar {
    flex: 2;
    height: 93vh;
    top: 0;
    left: 0;
  }
  .feed {
    flex: 7;
    max-height: 92vh;
  }
  .rightbar {
    flex: 2;
  }
}
