@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .app {
    height: 100vh;
    overflow-y: hidden;
    .container {
      display: flex;
      width: 100%;
      overflow-y: none;
    }
    .profile {
      width: 90%;
      margin: 0 auto;

      .avatarFriend {
        width: 2.5rem;
        height: 3rem;
        gap: 0.1rem;
        img {
          width: 2.5rem;
          height: 3rem;
          border-radius: 3px;
        }
      }

      .profileRight {
        width: 90%;
        margin: 0 auto;
      }
      .profileCover {
        height: 12.5rem;
        width: 100%;
        position: relative;
        left: -3rem;
      }
      .profileCoverImg {
        margin-top: 1rem;
        width: 100%;
        height: 9.3rem;
        object-fit: cover;
        border: 4px solid #f2ca18;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        position: relative;
      }

      .profileUserImg {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        right: 0;
        left: -8.125rem;
        margin: auto;
        top: 7.25rem;
        border: 3px solid white;
      }
      .profileInfo {
        position: relative;
        left: 3rem;
        padding: 0.5rem;
        .profileInfoName {
          font-size: 1rem;
        }

        .profileInfoDesc {
          font-size: 0.8rem;
          font-weight: 300;
          color: $primeColor;
        }
      }
      .shareProfile {
        width: 100%;
        margin: 0 auto;
      }
      .profilePosts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem;
      }
    }
    .loginSignup {
      .creatorLogin {
        top: -5rem;
      }
      .logo {
        font-size: 2rem;
        margin-inline-start: 8px;
        .lead {
          font-size: 10px;
        }
        img {
          width: 1.8rem;
          height: 2.2rem;
        }
      }
      .loginSignupWrapper {
        position: relative;
        top: -1rem;
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0% 100%, 0 80%, 0 32%);
      }
      .rightLogin {
        .loginSignupForm {
          padding: 0.5rem;
          top: 2rem;
          .loginForm {
            .formWrapper {
              padding-top: 0.5rem;
            }
            h2 {
              font-size: 1.5rem;
              padding-bottom: 0.3rem;
              margin-bottom: 0.3rem;
            }
          }
        }
      }
    }
    .topbar {
      height: 7vh;
      padding-top: 4px;
      .topbar-right {
        .topbar-icons {
          display: none;
        }
      }
    }
    .sidebar {
      flex: 1;
    }
    .feed {
      flex: 8;
      .share {
        padding: 0.4rem;
        margin-bottom: 0.1rem;
      }
      .posts {
        .post {
          .postBottomLeft {
            .PostBottomIcons {
              width: 22rem;
            }
          }
        }
      }
    }
    .rightbar {
      // display: none;
      flex: 2;
    }

    .share {
      padding: 12px;
      .shareWrapper {
        .shareTop {
          width: 100%;
          .shareHeader {
            .shareHeaderInput {
              width: 4.5rem;
            }
          }
        }
        .shareContent {
          width: 60%;
        }
        .shareOptions {
          display: flex;
          .shareOptionText {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 446px) {
  html {
    font-size: 12px;
  }
  .app {
    height: 100vh;
    overflow-y: hidden;
    .container {
      display: flex;
      width: 100%;
      overflow-y: none;
    }
    .loginSignup {
      .logo {
        font-size: 2rem;
        margin-inline-start: 8px;
        .lead {
          font-size: 10px;
        }
        img {
          width: 1.8rem;
          height: 2.2rem;
        }
      }
      .loginSignupWrapper {
        position: relative;
        top: -1rem;
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0% 100%, 0 80%, 0 32%);
      }
      .rightLogin {
        .loginSignupForm {
          padding: 0.5rem;
          top: 2rem;
          .loginForm {
            .formWrapper {
              padding-top: 0.5rem;
              top: 0.5rem;
              .loginActions {
                .login-btn {
                  padding: 0.4rem 0.5rem;
                  font-size: 0.8rem;
                }
              }
            }
            h2 {
              font-size: 1.5rem;
              padding-bottom: 0.3rem;
              margin-bottom: 0.3rem;
            }
          }
        }
      }
    }
    .topbar {
      height: 7vh;
      padding-top: 4px;
      .topbar-right {
        .topbar-icons {
          display: none;
        }
      }
    }
    .sidebar {
      display: none;
      flex: 2;
    }
    .feed {
      width: 100vw;
      .share {
        padding: 0.4rem;
        margin-bottom: 0.1rem;
      }
      .posts {
        .post {
          .postBottomLeft {
            width: 20%;
          }
        }
      }
    }
    .rightbar {
      display: none;
      flex: 2;
    }
    .share {
      padding: 12px;
      .shareWrapper {
        .shareTop {
          width: 100%;
          .shareHeader {
            .shareHeaderInput {
              width: 4.5rem;
            }
          }
        }
        .shareContent {
          width: 60%;
        }
        .shareOptions {
          display: flex;
          .shareOptionText {
            display: none;
          }
        }
      }
    }
  }
}
